// === Footer-Section ========================================= >>>>>
.section-footer{
    --#{$prefix}link-color-rgb: var(--#{$prefix}body-color-style-2-rgb);
    --#{$prefix}link-color: var(--#{$prefix}body-color-style-2);
    --#{$prefix}link-hover-color: var(--#{$prefix}body-color-style-2);
    --#{$prefix}link-hover-color-rgb: var(--#{$prefix}body-color-style-2-rgb);
}
.footer-separator{
    --#{$prefix}footer-separator-color: #4D447B;
    border-bottom: 1px solid var(--#{$prefix}footer-separator-color);
}
.instagram-content{
    @include media-breakpoint-up(xxl){
        position: relative;
        left: 34px;
    }
}
.footer-max-width{
    --#{$prefix}footer-max-width: 477px;
    max-width: var(--#{$prefix}footer-max-width);
    margin: 0 auto;
    @include media-breakpoint-down(lg){
        --#{$prefix}footer-max-width: 100%;
        margin: 0;
    }
}
// === Footer-Section ========================================= >>>>>